.advantages {
  text-align: left;
  margin-top: 120px;
  margin-bottom: 273px;
  &__desc {
    font-family: $lora-font;
    color: $gold;
    font-size: $button-font-size;
    font-weight: 400;
    background-image: url(../img/logo--black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 68px 0;
    padding-left: 152px;
    padding-bottom: 66px;
    padding-top: 46px;
    margin-bottom: -15px;
    position: relative;
    &:before{
      content: '';
      height: 1px;
      width: 20vw;
      position: absolute;
      top: 60px;
      left: -16.5vw;
      background-color: #000;
    }
  }
  .main-heading {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 134px;
  }
}
