.modul-item {
  color: #fff;
  padding-top: 100px;
  padding-left: 32px;
  padding-right: 130px;
  padding-bottom: 69px;
  background-color: $gold;
  height: 100%;
  background-size: cover;
  &--more-space{
    padding-top: 176px;
  }
  &--bottom-text{
    padding-top: 256px;
    padding-bottom: 29px;
    .modul-item__heading{
      margin-bottom: 20px;
    }
    .modul-item__text{
      margin-bottom: 32px;
    }
  }
    &--more-info {
    padding-top: 47px;
    padding-bottom: 60px;
    padding-right: 45px;
    .modul-item__link {
      color: $gold;
      &:after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAKCAYAAAA+euenAAAAn0lEQVQ4T2NkGAAwocRjFSMDgyArC3NYVsfW9zAnMA6AWxgmlLh3MDAwljMyMOxBdtCAOAYUANgcNGCOweYgkGMYS9J8/g1EdP3///+/HP/fvf8ZGFwYGBhWD2zIlHqEMvxnWMXAwPD+/19mkwFzzAQ0hxT2b703II7B5hBQMhkYx5R4nmFg/C/4/w+zKyhEBrScmVbhLQhyAHKBB+IDAMfHQtjJ/UwyAAAAAElFTkSuQmCC);
      }
      &:hover,
      &:focus,
      &:active {
        color: #fff;
        &:after {
          content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAKCAYAAAA+euenAAAAfUlEQVQ4T8XUQQ2DQBSE4X8k4AUJrQRqBQtoKRZaB9WwFnDQIS+BBJK9z9729mXeZETg2X4DA/CStJ0EBSzYXoAZ+FxBEUwF0APFMF2Q7QL9E+eqgIAv8ADWdDITUGWuEo8xjO07RGoRTA9SNUlhfsfOPCW19M7U4HEdvPrvWEU233jNljQAAAAASUVORK5CYII=);
        }
      }
    }
  }
  &--big{
    padding-top: 124px;
    padding-bottom: 104px;
    padding-left: 7%;
    padding-right: 40%;
    .modul-item__heading{
      font-size: 33px;
    }
    .modul-item__text{
      margin-bottom: 58px;
    }
    /*ссылки на темном фоне*/
    .modul-item__link:hover,
    .modul-item__link:focus,
    .modul-item__link:active {
      color: $gold;
      &:after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAKCAYAAAA+euenAAAAn0lEQVQ4T2NkGAAwocRjFSMDgyArC3NYVsfW9zAnMA6AWxgmlLh3MDAwljMyMOxBdtCAOAYUANgcNGCOweYgkGMYS9J8/g1EdP3///+/HP/fvf8ZGFwYGBhWD2zIlHqEMvxnWMXAwPD+/19mkwFzzAQ0hxT2b703II7B5hBQMhkYx5R4nmFg/C/4/w+zKyhEBrScmVbhLQhyAHKBB+IDAMfHQtjJ/UwyAAAAAElFTkSuQmCC);
      }
    }
  }
  &--light {
    /*ссылки на светлом фоне у широкого блока*/
    .modul-item__link:hover,
    .modul-item__link:focus,
    .modul-item__link:active {
      color: $gray;
    }
  }
  &__desc {
    color: $gold;
    font-size: 1vw;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 37px;
    padding-right: 50%;
  }
  &__heading {
    font-size: 1.5vw;
    font-weight: 700;
    font-family: $lora-font;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 1.1vw;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 45px;
    strong {
      font-weight: 700;
    }
  }
  &__link {
    color: #fff;
    font-family: $lora-font;
    font-size: 1.2vw;
    line-height: 1.2;
    font-weight: 400;
    &:after {
      margin-left: 16px;
      margin-top: 4px;
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAKCAYAAAA+euenAAAAfUlEQVQ4T8XUQQ2DQBSE4X8k4AUJrQRqBQtoKRZaB9WwFnDQIS+BBJK9z9729mXeZETg2X4DA/CStJ0EBSzYXoAZ+FxBEUwF0APFMF2Q7QL9E+eqgIAv8ADWdDITUGWuEo8xjO07RGoRTA9SNUlhfsfOPCW19M7U4HEdvPrvWEU233jNljQAAAAASUVORK5CYII=);
    }
    &:hover,
    &:focus,
    &:active {
      color: $gray;
    }
  }
}
