.services {
  text-align: left;
  font-family: $lora-font;
  margin-bottom: 94px;
  padding-left: 6%;
  &__desc {
    margin-left: -135px;
  }
  &__wrap {
    margin-top: 45px;
  }
  .main-heading {
    margin-bottom: 50px;
  }
  &__text {
    font-size: $big-font-size;
    margin-bottom: 27px;
  }
  &__img {
    margin-top: 30px;
    margin-bottom: 45px;
  }
}
