<section class="banner">
  <div class="container container--small">
    <h1 class="banner__heading">Perkulimov Consulting Group</h1>
    <p class="banner__desc">Консалтинговая компания, созданая для решения финансовых задач частных лиц и бизнеса, сохранения и приумножения личного капитала</p>
  </div>
</section>
