<section class="company container container--small">
  <h2 class="company__desc">О компании</h2>
  <div class="company__wrap">
    <section class="company__block">
      <h3 class="main-heading">Миссия компании</h3>
      <p>Помогать грамотно управлять личными финансами и устойчиво формировать капитал как в России, так и за рубежом</p>
    </section>
    <section class="company__block">
      <h3 class="main-heading">Наши ценности</h3>
      <p>Конфиденциальность клиентской информации, независимость в предоставлении финансовых решений</p>
    </section>
    <p class="company__text">Все финансовые решения подбираются в соответствии с личным финансовым планом, горизонтом планирования, инвестиционными предпочтениями и другими параметрами.
    </p>
    <p class="company__text">Мы сотрудничаем с крупнейшими Российскими и мировыми финансовыми компаниями (банками, брокерами, страховыми компаниями) – лидерами своей отрасли. Мы предоставляем финансовые решения на рынках России, Америки, Европы.</p>
  </div>
</section>
