<section class="how-work container container--small">
  <h3 class="main-heading">Как мы работаем:</h3>
  <p class="how-work__text">Разработка Личного финансового плана занимает от 3 до 6 рабочих дней и предполагает 2-3 очных или Skype встречи.</p>
  <p class="how-work__text">Каждый финансовый план, который мы создаем, разрабатывается персонально под ваши цели и задачи, с учетом ваших возможностей, инвестиционного профиля и экономических и статистических данных.
  </p>
  <p class="how-work__text">Чтобы безошибочно определиться с выбором подходящего финансового плана, позвоните нам по номеру +7(495) 215-25-32 или оставьте заявку на сайте.</p>
  <p class="how-work__text">Мы с радостью вам поможем!</p>
</section>
