<section class="points container container--small">
  <h3 class="main-heading">Имея личный финансовый план, Вы:</h3>
  <ul class="ul">
    <li>Сможете снизить регулярные расходы по статистике на 10-30%, и, тем самым, увеличить сумму регулярных накоплений;</li>
    <li>Узнаете насколько эффективно работают ваши текущие активы;</li>
    <li>Поймете реальную эффективность текущего финансового портфеля по отношению к вашим финансовым целям;</li>
    <li>Получите четкий набор необходимых действий для реализации своих финансовых целей;</li>
    <li>Повысите эффективность ваших инвестиций.</li>
  </ul>
</section>
