<section class="rates">
  <div class="container container--small">
    <h3 class="main-heading">Варианты финансового плана</h3>
    <p class="rates__subheading">В зависимости от текущих возможностей, вы можете выбрать тот вариант, который подойдет именно Вам.</p>
    <div class="rates__wrap">
      <div class="rates__item rate-item">
        <div class="rate-item__img">
          <img src="assets/frontend/img/fin-plan/standart.png" alt="">
        </div>
        <h4 class="rate-item__heading">Тариф Standart</h4>
        <p class="rate-item__text">Анализируем активы и обязательства</p>
        <p class="rate-item__text">Определяем инвестиционный потенциал</p>
        <p class="rate-item__text">Проводим диагностику финансовых целей (до 4 целей)</p>
        <p class="rate-item__text">Разрабатываем стратегии реализации финансовых целей</p>
        <p class="rate-item__text">Составляем инвестиционный портфель</p>
      </div>
      <div class="rates__item rate-item">
        <div class="rate-item__img">
          <img src="assets/frontend/img/fin-plan/vip.png" alt="">
        </div>
        <h4 class="rate-item__heading rate-item__heading--gold">Тариф VIP</h4>
        <p class="rate-item__text">Анализируем доходы и расходы</p>
        <p class="rate-item__text">Анализируем активы и обязательства</p>
        <p class="rate-item__text">Определяем инвестиционный потенциал</p>
        <p class="rate-item__text">Проводим диагностику финансовых целей (до 7 целей)</p>
        <p class="rate-item__text">Разрабатываем стратегии реализации финансовых целей</p>
        <p class="rate-item__text">Составляем инвестиционный портфель</p>
      </div>
      <div class="rates__item rate-item">
        <div class="rate-item__img">
          <img src="assets/frontend/img/fin-plan/platinum.png" alt="">
        </div>
        <h4 class="rate-item__heading">Тариф Platinum</h4>
        <p class="rate-item__text">Анализируем доходы и расходы</p>
        <p class="rate-item__text">Анализируем активы и обязательства</p>
        <p class="rate-item__text">Определяем инвестиционный потенциал</p>
        <p class="rate-item__text">Анализируем текущий инвестиционный портфель</p>
        <p class="rate-item__text">Проводим диагностику финансовых целей (более 8 целей)</p>
        <p class="rate-item__text">Разрабатываем стратегии реализации финансовых целей</p>
        <p class="rate-item__text">Составляем инвестиционный портфель</p>
      </div>
    </div>
    <a href="" class="rates__btn">Записаться</a>
  </div>
</section>
