<!doctype html>
<html lang="ru">

<head>
  <title>{{ title | default("Perkulimov Consult Group") }}</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"> {% block styles %}{% endblock %}
  <link href="assets/frontend/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i|Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
</head>

<body>

  <div class="body {{ class }}">
    {% block body %}{% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  {% block scripts %}{% endblock %}
  <script src="assets/frontend/js/scripts.js"></script>
</body>

</html>
