.about {
  .main-heading {
    font-size: $button-font-size;
    font-weight: 400;
  }
  .partners .main-heading{
    margin-bottom: 90px;
  }
  .advice-form{
    margin-top: 105px;
    margin-bottom: 100px;
  }
}
