.rewards-controls{}
.rewards-controls label{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #7b7b7b;
  margin-right: 4px;
}
.rewards-slider{}
.reward-slide{
  display: none;
}

#btn-1:checked ~ .rewards label[for="btn-1"],
#btn-2:checked ~ .rewards label[for="btn-2"],
#btn-3:checked ~ .rewards label[for="btn-3"],
#btn-4:checked ~ .rewards label[for="btn-4"], 
#btn-5:checked ~ .rewards label[for="btn-5"] {
 background-color: #8d744b;
}
#btn-1:checked ~ .rewards #slide1,
#btn-2:checked ~ .rewards #slide2,
#btn-3:checked ~ .rewards #slide3,
#btn-4:checked ~ .rewards #slide4,
#btn-5:checked ~ .rewards #slide5{
  display: block;
}
