<form action="" class="advice-form">
  <h3 class="main-heading">Запись на консультацию</h3>
  <input type="text" placeholder="Имя" class="advice-form__input input advice-form__input--name">
  <input type="phone" placeholder="Телефон*" class="advice-form__input input advice-form__input--phone">
  <input type="email" placeholder="E-mail" class="advice-form__input input advice-form__input--email">
  <button type="submit" class="button sdvice-form__button">Записаться</button>
</form>