<div class="container container--small">
  <form action="" class="advice-form">
    <h3 class="main-heading">Запись на консультацию</h3>
    <input type="text" placeholder="Имя" class="advice-form__input input advice-form__input--name" name="fio">
    <input type="text" placeholder="Телефон*" class="advice-form__input input advice-form__input--phone phone-input" name="tel">
    <input type="email" placeholder="E-mail" class="advice-form__input input advice-form__input--email email" name="mail">
    <button type="submit" class="button advice-form__button submit-btn">Записаться</button>
  </form>
</div>
