<section class="banner" style="background-image:url({{ image }})">
  <div class="container container--small">
    <h1 class="banner__heading">{{ heading }}</h1>
    <p class="banner__desc">{{ text }}</p>
  </div>
</section>
