    <nav>
      <ul class="navigation">
        <li>
          <a href="#" class="navigation__link">О компании</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Услуги</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Мероприятия</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Карьера</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Контакты</a>
        </li>
      </ul>
    </nav>