    <nav>
      <ul class="navigation">
        <li>
          <a href="about.html" class="navigation__link">О&nbsp;компании</a>
        </li>
        <li>
          <a href="fin-plan.html" class="navigation__link">Услуги</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Мероприятия</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Личный и бизнес консалтинг</a>
        </li>
        <li>
          <a href="#" class="navigation__link">Контакты</a>
        </li>
      </ul>
    </nav>