<section class="advantages container">
  <p class="advantages__desc">Преимущества</p>
  <h3 class="main-heading container container--small">Что вы получите, работая с нами?</h3>
  <ul class="advantages-list container container--small">
    <li>
      <h4 class="advantages-list__heading">Независимые
финансовые&nbsp;рекомендации</h4>
      <p class="advantages-list__text">Мы не принадлежим ни к одной финансовой компании, наши рекомендации абсолютно независимы и беспристрастны</p>
    </li>
    <li>
      <h4 class="advantages-list__heading">Варианты
решений&nbsp;есть&nbsp;всегда</h4>
      <p class="advantages-list__text">Мы предоставляем широкий спектр финансовых услуг, успешно отрабатываем самые сложные кейсы и находим решения любых финансовых задач</p>
    </li>
    <li>
      <h4 class="advantages-list__heading">Скорость в&nbsp;решении
Ваших&nbsp;запросов</h4>
      <p class="advantages-list__text">90% ваших задач решаются в течении 14 дней после обращения к нам
      </p>
    </li>
    <li>
      <h4 class="advantages-list__heading">Только проверенные
финансовые решения</h4>
      <p class="advantages-list__text">Мы предоставляем финансовые решения только от лидеров Российской и мировой финансовой отрасли</p>
    </li>
    <li>
      <h4 class="advantages-list__heading">Профессиональные
финансовые советники</h4>
      <p class="advantages-list__text">В компании работают только сертифицированные финансовые советники, прошедшие профильное обучение и имеющие соответствующие сертификаты</p>
    </li>
    <li>
      <h4 class="advantages-list__heading">Высокие стандарты
и&nbsp;принципы</h4>
      <p class="advantages-list__text">Наша работа строится по принципу «win-win» и основана на высоких стандартах конфиденциальности, клиенториентированности и результативности</p>
    </li>
  </ul>
</section>
