<section class="modules container">
	<ul class="modules-list">
		<li class="modules-list__item">
			<article class="modul-item modul-item--more-space" style="background-image: url(assets/frontend/img/slide_1.jpg)">
				<h2 class="modul-item__heading">Финансовая консультация</h2>
				<p class="modul-item__text">Индивидуальная консультация личная или по скайп трансляции</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item">
			<article class="modul-item modul-item--bottom-text" style="background-image: url(assets/frontend/img/slide_2.jpg)">
				<h2 class="modul-item__heading">Личный финансовый&nbsp;план</h2>
				<p class="modul-item__text">Путь к достижению финансовых целей</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item">
			<article class="modul-item modul-item--more-info" style="background-image: url(assets/frontend/img/slide_3.jpg)">
				<p class="modul-item__desc">Обучающий курс “Финансовый ДНК 2.0”</p>
				<h2 class="modul-item__heading">Обучение финансовой грамотности</h2>
				<p class="modul-item__text">
				<strong>Изучите финансовую грамотность,</strong> разрушьте финансовые барьеры и разрешите ваши основные денежные затруднения за 2 месяца</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item modules-list__item--big">
			<article class="modul-item modul-item--big" style="background-image: url(assets/frontend/img/slide_4.jpg)">
				<h2 class="modul-item__heading">Финансовые решения со&nbsp;100%&nbsp;защитой&nbsp;капитала</h2>
				<p class="modul-item__text">Низкорискованные инвестиции</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item">
			<article class="modul-item" style="background-image: url(assets/frontend/img/slide_5.jpg)">
				<h2 class="modul-item__heading">Создание вашего капитала</h2>
				<p class="modul-item__text">Эффект маленьких шагов</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item">
			<article class="modul-item" style="background-image: url(assets/frontend/img/slide_6.jpg)">
				<h2 class="modul-item__heading">Заработок на криптовалютах</h2>
				<p class="modul-item__text">Валюты, базирующиеся на технологии блокчейн</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
		<li class="modules-list__item modules-list__item--big">
			<article class="modul-item modul-item--big modul-item--light" style="background-image: url(assets/frontend/img/slide_7.jpg)">
				<h2 class="modul-item__heading">Российские и международные страховые программы</h2>
				<p class="modul-item__text">Инструменты защиты жизни и здоровья</p>
				<a href="" class="modul-item__link">Подробнее</a>
			</article>
		</li>
	</ul>
</section>
