<div class="partners">
  <h3 class="main-heading">Наши партнеры</h3>
  <ul class="partners-slider">
    <li class="partners-slider__item"><a href=""><img src="" alt=""></a></li>
    <li class="partners-slider__item"><a href=""><img src="" alt=""></a></li>
    <li class="partners-slider__item"><a href=""><img src="" alt=""></a></li>
    <li class="partners-slider__item"><a href=""><img src="" alt=""></a></li>
    <li class="partners-slider__item"><a href=""><img src="" alt=""></a></li>
  </ul>
</div>