<div class="partners">
  <h3 class="main-heading container container--small">Наши партнеры</h3>
  <ul class="partners-slider">
    <li class="partners-slider__item">
      <a href="#"><img src="assets/frontend/img/save_invest.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/otkrytie.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/allianz.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/sber.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/alfa_bank.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/vtb.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/medolife.jpg" alt=""></a>
    </li>
    <li class="partners-slider__item">
      <a href=""><img src="assets/frontend/img/moscow_birge.jpg" alt=""></a>
    </li>
  </ul>
</div>
