<section class="seminar-slider">
  <div class="controls">
    <label for="btn-1"></label>
    <label for="btn-2"></label>
    <label for="btn-3"></label>
  </div>
  <ul>
    <li class="seminar-slide">
      <h2 class="seminar-slide__heading">Семинар</h2>
      <p class="seminar-slide__text">Как уберечь личные сбережения от инфляции альтернатива депозитам в условиях падающих ставок</p>
      <div class="seminar-slide__date">
        <time class="seminar-slide__time">
          <span>22</span> ноября в 19:00</time>
        <p class="seminar-slide__desc">Как реализовать мечты. Личный финансовый план</p>
        <a href="" class="seminar-slide__link">Записаться на бесплатный семинар</a>
      </div>
    </li>
    <li class="seminar-slide">
      <h2 class="seminar-slide__heading"></h2>
      <p class="seminar-slide__text"></p>
      <div class="seminar-slide__date"></div>
      <time class="seminar-slide__time"></time>
      <p class="seminar-slide__desc"></p>
      <a href="" class="seminar-slide__link"></a>
    </li>
    <li class="seminar-slide">
      <h2 class="seminar-slide__heading"></h2>
      <p class="seminar-slide__text"></p>
      <div class="seminar-slide__date"></div>
      <time class="seminar-slide__time"></time>
      <p class="seminar-slide__desc"></p>
      <a href="" class="seminar-slide__link"></a>
    </li>
  </ul>
</section>
