<section class="seminar-slider">
  <div class="controls">
    <label for="btn-1"></label>
    <label for="btn-2"></label>
    <label for="btn-3"></label>
  </div>
  <ul class="container container--small">
    <li class="seminar-slide" id="slide1">
      <h2 class="seminar-slide__heading">Семинар</h2>
      <p class="seminar-slide__text">Как уберечь личные сбережения от инфляции альтернатива депозитам в условиях падающих ставок</p>
      <div class="seminar-slide__date">
        <time class="seminar-slide__time">
          <span>22</span> ноября&nbsp;в&nbsp;19:00</time>
        <p class="seminar-slide__desc">Как&nbsp;реализовать&nbsp;мечты. Личный&nbsp;финансовый план</p>
        <a href="" class="seminar-slide__link">Записаться&nbsp;на&nbsp;бесплатный&nbsp;семинар</a>
      </div>
    </li>
    <li class="seminar-slide" id="slide2">
      <h2 class="seminar-slide__heading">Семинар</h2>
      <p class="seminar-slide__text">Как уберечь личные сбережения от инфляции альтернатива депозитам в условиях падающих ставок</p>
      <div class="seminar-slide__date">
        <time class="seminar-slide__time">
          <span>22</span> ноября&nbsp;в&nbsp;19:00</time>
        <p class="seminar-slide__desc">Как&nbsp;реализовать&nbsp;мечты. Личный&nbsp;финансовый план</p>
        <a href="" class="seminar-slide__link">Записаться&nbsp;на&nbsp;бесплатный&nbsp;семинар</a>
      </div>
    </li>
    <li class="seminar-slide" id="slide3">
      <h2 class="seminar-slide__heading">Семинар</h2>
      <p class="seminar-slide__text">Как уберечь личные сбережения от инфляции альтернатива депозитам в условиях падающих ставок</p>
      <div class="seminar-slide__date">
        <time class="seminar-slide__time">
          <span>22</span> ноября&nbsp;в&nbsp;19:00</time>
        <p class="seminar-slide__desc">Как&nbsp;реализовать&nbsp;мечты. Личный&nbsp;финансовый план</p>
        <a href="" class="seminar-slide__link">Записаться&nbsp;на&nbsp;бесплатный&nbsp;семинар</a>
      </div>
    </li>
  </ul>
</section>
