<section class="team container container--big">
  <h3 class="main-heading">Наша команда</h3>
  <div class="team__block">
    <ul class="team-list">
      <li>
        <a class="team-list__link" href="aleksey.html">
          <div class="team-list__img team-list__img--aleksey"></div>
          <div class="team-list__text">
            <p class="team-list__name">Алексей Перкулимов</p>
            <p>Инвестор, предприниматель</p>
            <p>Владелец компании</p>
          </div>
        </a>
      </li>
      <li>
        <a class="team-list__link" href="valerii.html">
          <div class="team-list__img team-list__img--valerii"></div>
          <div class="team-list__text">
            <p class="team-list__name">Валерий Кучеров</p>
            <p>Управляющий парнер.</p>
            <p>Независимый финансовый советник.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="team-list__link" href="tatiana.html">
          <div class="team-list__img team-list__img--tatiana"></div>
          <div class="team-list__text">
            <p class="team-list__name">Татьяна Тищенко</p>
            <p>Независимый финансовый советник.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="team-list__link" href="altinai.html">
          <div class="team-list__img team-list__img--altinai"></div>
          <div class="team-list__text">
            <p class="team-list__name">Алтынай Айсенова</p>
            <p>Независимый финансовый советник.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="team-list__link" href="denis.html">
          <div class="team-list__img team-list__img--denis"></div>
          <div class="team-list__text">
            <p class="team-list__name">Денис Клюковский</p>
            <p>Независимый финансовый советник.</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="team__blockquote">
    <blockquote >“Когда работу нужно выполнять  быстро и качественно”
    </blockquote>
    </div>
  </div>
</section>