<section class="team container container--big">
  <h3 class="main-heading">Наша команда</h3>
  <div class="team__block">
    <ul class="team-list">
      <li>
        <div class="team-list__img"><img src="assets/frontend/img/komanda_1.png" alt=""></div>
        <div class="team-list__text">
          <p>Управляющий парнер.</p>
          <p>Независимый финансовый советник.</p>
        </div>
      </li>
      <li>
        <div class="team-list__img"><img src="assets/frontend/img/komanda_2.png" alt=""></div>
        <div class="team-list__text">
          <p>Независимый финансовый советник.</p>
          <p>г. Брянск</p>
        </div>
      </li>
      <li>
        <div class="team-list__img"><img src="assets/frontend/img/komanda_3.png" alt=""></div>
        <div class="team-list__text">
          <p>Независимый финансовый советник.</p>
          <p>Казахстан г. Атырау</p>
        </div>
      </li>
      <li>
        <div class="team-list__img"><img src="assets/frontend/img/komanda_4.png" alt=""></div>
        <div class="team-list__text">
          <p>Независимый финансовый советник.</p>
          <p>г. Краснодар</p>
        </div>
      </li>
    </ul>
    <div class="team__blockquote">
    <blockquote >“Когда работу нужно выполнять  быстро и качественно”
    </blockquote>
    </div>
  </div>
</section>