$deafult-font: 'Open Sans', Arial, Helvetica, sans-serif;
$lora-font: 'Lora', Times New Roman, serif;

$gold: #8d744b;
$gray: #252525;

$link: #0000ff;
$link-hover: #ff0000;

$small-font-size: 0.8vw; //14
$default-font-size: 1.1vw; //20
$big-font-size: 1.26vw; //24
$button-font-size: 1.6vw; //30
$blockquote-font-size: 2vw; //36
$heading-font-size: 2.5vw; //45